/* Table of Contents:
	1.0:- Base styles
	2.0:- Sidebar
	3.0:- User Profile Image
	4.0:- FontAwesome Icon Styles
*/

/* 1.0:- Base Styles */
body {
	font-family: Palatino, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2rem;
}

sup {
	top: -.4em;
}

hr {
	margin-top: .5rem;
	margin-bottom: .5rem;
	border-top: 1px solid white;
	width: 85%;
}

a:hover {
	color: #007bff;
}


/* 2.0:- Sidebar */
#userSidebar {
	max-width: 450px;
}

#userName {
	/* Arimo google font specified in header.php */
	font-family: Arimo, Helvetica, Arial, sans-serif;
}

/* 3.0:- User profile image */
#userImage {
	border-radius: 100%;
}


/* 4.0:- FontAwesome Icon Styles */
.fa-behance-square {
	color: #1476F7;
}
